name: Euler Benchmark

on:
  workflow_dispatch:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: |
          for f in problem*.py; do
            echo "Benchmarking $f"
            /usr/bin/time -f "Time: %E" python "$f"
          done